<%- include('./partials/head.ejs', {tabTitle: 'Projects'} ) %>

<%- include('./partials/header.ejs', {}) %>
<div class="index-container">
    <div class="index-user-projects">
        <h2><a href="/projects/my">My Projects</a></h2>
        <% if (userProjects.length >= 6) { %>
        <% for (let i = 0; i < 6; i++) { %>
        <% if (userProjects[i].files.length > 0) { %>
        <a href="/projects/<%= userProjects[i]._id %>">
            <% } else { %>
            <a href="/projects/<%= userProjects[i]._id %>" style="height: 70px !important">
                <% } %>
                <div class="index-user-project">
                    <% if (userProjects[i].files.length > 0) { %>
                    <img src="<%= userProjects[i].files[0]['path'].slice(0, -4) %>.png">
                    <div class="project-name">
                        <h4><%= userProjects[i].title %></h4>
                        <p>Created: <%= userProjects[i].createdAt.toDateString() %></p>
                    </div>
                    <% } else { %>
                    <div class="project-name" style="top: 0; left: 0; width: 100%; max-width: 100%; margin: 0;">
                        <h4><%= userProjects[i].title %></h4>
                        <p>Created: <%= userProjects[i].createdAt.toDateString() %></p>
                    </div>
                    <% } %>
                </div>
            </a>
            <% } %>
            <% } else { %>
            <% for (let i = 0; i < userProjects.length; i++) { %>
            <% if (userProjects[i].files.length > 0) { %>
            <a href="/projects/<%= userProjects[i]._id %>">
                <% } else { %>
                <a href="/projects/<%= userProjects[i]._id %>" style="height: 70px !important">
                    <% } %>
                    <div class="index-user-project">
                        <% if (userProjects[i].files.length > 0) { %>
                        <img src="<%= userProjects[i].files[0]['path'].slice(0, -4) %>.png">
                        <div class="project-name">
                            <h4><%= userProjects[i].title %></h4>
                            <p>Created: <%= userProjects[i].createdAt.toDateString() %></p>
                        </div>
                        <% } else { %>
                        <div class="project-name" style="top: 0 !important; left: 0 !important; width: 100% !important; height: 70px !important; max-width: 100% !important">
                            <h4><%= userProjects[i].title %></h4>
                            <p>Created: <%= userProjects[i].createdAt.toDateString() %></p>
                        </div>
                        <% } %>
                    </div>
                </a>
                <% } %>
                <% } %>
    </div>
    <div class="index-team-projects">
        <h2><a href="/projects/team">Team Projects</a></h2>
        <% if (teamProjects.length >= 6) { %>
        <% for (let i = 0; i < 6; i++) { %>
        <% if (teamProjects[i].files.length > 0) { %>
        <a href="/projects/<%= teamProjects[i]._id %>">
            <% } else { %>
            <a href="/projects/<%= teamProjects[i]._id %>" style="height: 70px !important">
                <% } %>
                <div class="index-team-project">
                    <% if (teamProjects[i].files.length > 0) { %>
                    <img src="<%= teamProjects[i].files[0]['path'].slice(0, -4) %>.png">
                    <div class="project-name">
                        <h4><%= teamProjects[i].title %></h4>
                        <p>Created: <%= teamProjects[i].createdAt.toDateString() %></p>
                    </div>
                    <% } else { %>
                    <div class="project-name" style="top: 0; left: 0; width: 100%; max-width: 100%; margin: 0;">
                        <h4><%= teamProjects[i].title %></h4>
                        <p>Created: <%= teamProjects[i].createdAt.toDateString() %></p>
                    </div>
                    <% } %>
                </div>
            </a>
            <% } %>
            <% } else { %>
            <% for (let i = 0; i < teamProjects.length; i++) { %>
            <% if (teamProjects[i].files.length > 0) { %>
            <a href="/projects/<%= teamProjects[i]._id %>">
                <% } else { %>
                <a href="/projects/<%= teamProjects[i]._id %>" style="height: 70px !important">
                    <% } %>
                    <div class="index-team-project">
                        <% if (teamProjects[i].files.length > 0) { %>
                        <img src="<%= teamProjects[i].files[0]['path'].slice(0, -4) %>.png">
                        <div class="project-name">
                            <h4><%= teamProjects[i].title %></h4>
                            <p>Created: <%= teamProjects[i].createdAt.toDateString() %></p>
                        </div>
                        <% } else { %>
                        <div class="project-name" style="top: 0 !important; left: 0 !important; width: 100% !important; height: 70px !important; max-width: 100% !important">
                            <h4><%= teamProjects[i].title %></h4>
                            <p>Created: <%= teamProjects[i].createdAt.toDateString() %></p>
                        </div>
                        <% } %>
                    </div>
                </a>
                <% } %>
                <% } %>
    </div>
</div>
<div class="hr">
    <hr />
</div>
<div class="todos-upcoming">
    <div class="todo-container">
        <h2>To-dos</h2>
    </div>
    <div class="upcoming-container">
        <h2>Upcoming Deadlines</h2>
        <% for (let task of deadlines) { %>
        <div class="card" style="margin: 0 auto 15px auto; width: 100%">
            <a href="/projects/<%= task._id %>" style="text-decoration: none; color: black">
                <div class="card-body">
                    <strong><%= task.deadline.toDateString() %></strong>
                    <p style="margin-bottom: 0"><%= task.title %></p>
                </div>
            </a>
        </div>
        <% } %>
    </div>
</div>
<%- include('./partials/foot.ejs', {}) %>